h1 {
  margin: 20px auto;
  width: 150px;
}

.calculator {
  width: 255px;
  background-color: lightgray;
  margin: auto;
}

input {
  width: 237px;
  height: 50px;
  margin: 5px;
  text-align: right;
  font-size: 1.5em;
}

.operator, .equals {
  background: orange;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0px;
  font-size: 1.2em;
}

.zero {
  width: 115px;
}

.ac {
  width: 178px;
}